{% extends 'mainlayout.html' %}
{% load static %}
{% block title %} About Kayleen {% endblock title %}
{% block content %}
<!--ABOUT Kayleen Trajtman the designer Begins Below -->
<div id="about-kayleen">
    <h2 class="section-title">About Kayleen</h2>
    <div class="about">
        <section class="kayleen-photo">
            <img src="{% static 'images/kayleen.jpg' %}" alt="Kayleen Trajtman the Designer">
        </section>
        <section class="kayleen-description">
            <p>Kayleen Trajtman is the creative entrepreneur behind Kelyta's Creation. Kayleen started to
                launch
                her children's clothing line in Canada at St Mary's Parish in Barrie. Father Sheehy and the
                patrons
                of the church allowed her to display communion dresses at church after mass.</p>
            <p>People at church loved her beautiful designs and from that blessed beginning she worked hard to
                promote Kelyta's Creation and two years later she went into the wholesale business and then in
                2006
                she launched her retail stores and the rest is now part of her successful history.</p>
            <p>Kelyta's Creation is a fourth generation family business and a one stop shop for all your bridal
                gowns, bridesmaids and mother of the bride dresses, flower girl dresses, first communion gowns,
                baptism gowns, boys suits, tuxedos, prom and graduation dresses. We also have a new line of
                Quinceañera dresses. We specialize in destination weddings and plus size gowns. All sizes can
                be
                ordered and will take approximately 60 days to arrive.</p>
            <p>I personally travel to Los Angeles to hand pick the latest style's from designers themselves.
                Fashion has always been my passion and I am now bringing the latest formal wear styles to
                Simcoe
                County. I take pride in making your dreams come true..</p>
            <p>For any alterations and fixes for your garments and dresses, please inquire at our store as we
                will
                do our best to accommodate your request. Alterations can be done within a week for customers
                who
                come from out of town or need a rushed order.</p>
            <p>For your convenience, we offer appointments for our local clients and clients who are travelling
                from a distance to our shop. Please stop by for the shopping experience of your life to fully
                enjoy
                the special moments of selecting your formal wear with Kelyta.</p>
        </section>

    </div>
</div>
<!--End of About Section-->
{% endblock %}