{% extends 'mainlayout.html' %}
{% load static %}
{% block title %} Welcome {% endblock %}
{% block content %}
<main id="home-content">
    <main class="wrapper">
        <!--Collection Section Begins-->
        <div id="collections">
            <h2 class="section-title">Our Collections</h2>
            <nav class="collection-nav">
                <a href="#wedding-dresses">Wedding</a>
                <a href="#prom-dresses">Prom</a>
                <a href="#flower-girl-dresses">FlowerGirl</a>
                <a href="#first-communion-gowns">FirstCommunion</a>
                <a href="#baptism-gowns">Baptism</a>
                <a href="#suits-tuxedos">SuitsTuxedos</a>
                <a href="#accessories">Accessories</a>
            </nav>
            <section class="product" id="wedding-dresses">

                <div class="product-description">
                    <p>We offer a wide selection of Wedding dresses, Bridesmaid Dresses, and Bridal Accessories. Please call us at <a href="tel:17055033400"> &#9742; (705) 503 3400</a> to
                        book an appointment to choose from our selections.</p>
                    <h2 class="product-title">Wedding Dresses</h2>
                    
                    <div class="product-thumbnails">
                        <img src="{% static 'images/weddingdress1.jpg' %}" alt="">
                        <img src="{% static 'images/bridal1.jpg' %}" alt="">
                        <img src="{% static 'images/bridal2.jpg' %}" alt="">
                    </div>
                </div>
                <div class="product-images">
                    <img src="{% static 'images/weddingdress1.jpg' %}" alt="">
                </div>
            </section>
            <section class="product" id="prom-dresses">

                <div class="product-description">
                    <h2 class="product-title">Prom and Graduation Dresses</h2>
                    <p>Step out from the crowd at every occasion with all these unique styles. We have a lot of styles,
                        including semi formal dresses, short formal evening/party dresses, graduation dresses and plus
                        size
                        formal dresses. At Kelyta's, we offer the best prices and high quality
                        formal
                        dresses to suit every special occasion.

                        We are offering for a limited time Quinceañera dresses for those who celebrate it. We have a
                        variety of styles to choose from and we also have quality accessories and gloves to go
                        with
                        your gown.</p>
                    <div class="product-thumbnails">
                        <img src="{% static 'images/dress1.jpg' %}" alt="">
                        <img src="{% static 'images/dress2.jpg' %}" alt="">
                        <img src="{% static 'images/dress3.jpg' %}" alt="">
                        <img src="{% static 'images/dress4.jpg' %}" alt="">
                        <img src="{% static 'images/dress5.jpg' %}" alt="">
                        <img src="{% static 'images/dress6.jpg' %}" alt="">
                        <img src="{% static 'images/dress7.jpg' %}" alt="">
                        <img src="{% static 'images/dress8.jpg' %}" alt="">
                        {% comment %}
                        <img src="{% static 'images/prom1.jpg' %}" alt="">
                        <img src="{% static 'images/prom2.jpg' %}" alt="">
                        <img src="{% static 'images/prom3.jpg' %}" alt="">
                        {% endcomment %}
                    </div>
                </div>
                <div class="product-images">
                    <img src="{% static 'images/dress1.jpg' %}" alt="">
                </div>

            </section>
            <section class="product" id=flower-girl-dresses>
                <div class="product-description">
                    <h2 class="product-title">Flower Girl Dresses</h2>
                    <p>The perfect flower girl dress can add such a wonderful touch to your wedding day. The flower
                        girl's
                        role in a wedding as they walk down the isle is very precious. Kelyta's has an excellent
                        selection
                        of beautiful flower girl dresses and accessories for your special day.</p>
                    <div class="product-thumbnails">
                        <img src="{% static 'images/FlowerGirl01.jpg' %}" alt="">
                        <img src="{% static 'images/FlowerGirl02.jpg' %}" alt="">
                        <img src="{% static 'images/FlowerGirl11.jpg' %}" alt="">
                    </div>
                </div>
                <div class="product-images">
                    <img src="{% static 'images/FlowerGirl01.jpg' %}" alt="">
                </div>
            </section>
            <section class="product" id="first-communion-gowns">
                <div class="product-description">
                    <h2 class="product-title">First Communion Gowns</h2>
                    <p>At Kelyta's, we carry a beautiful line of gowns for your child's first communion celebration. We
                        proudly present to you an exclusive selection of gowns in a wide range of sizes and styles. New
                        arrivals of gowns will coordinate each season for your families celebration.

                        All styles are one of a kind with tasteful elegance while still maintaining traditional gown
                        looks
                        for the communion ceremony.</p>
                    <div class="product-thumbnails">
                        <img src="{% static 'images/firstcommunion1.jpg' %}" alt="">
                        <img src="{% static 'images/firstcommunion5.jpg' %}" alt="">
                        <img src="{% static 'images/firstcommunion6.jpg' %}" alt="">
                    </div>
                </div>
                <div class="product-images">
                    <img src="{% static 'images/firstcommunion1.jpg' %}" alt="">
                </div>
            </section>
            <section class="product" id="baptism-gowns">

                <div class="product-description">
                    <h2 class="product-title">Christening and Baptism Gowns</h2>
                    <p>The Baptismal and Christening celebration is an important day for your family and friends to
                        celebrate your child's relationship with faith. Parents have many important decisions and
                        options
                        in planning their child's celebration. Kelyta's has an excellent selection of beautiful
                        Baptismal,
                        Christening gowns and accessories for your little girl and boy.</p>
                    <div class="product-thumbnails">
                        <img src="{% static 'images/baptism3.jpg' %}" alt="">
                        <img src="{% static 'images/baptism5.jpg' %}" alt="">
                        <img src="{% static 'images/baptism6-9.jpg' %}" alt="">
                    </div>
                </div>
                <div class="product-images">
                    <img src="{% static 'images/baptism3.jpg' %}" alt="">
                </div>
            </section>
            <section class="product" id='suits-tuxedos'>

                <div class="product-description">
                    <h2 class="product-title">Boys Suits and Tuxedos</h2>
                    <p>If you're looking for suit and tuxedos to fit for your little boys special day or occasion you
                        have
                        come to the right place! We even have boys sailor suits and other pieces of wear to accommodate
                        and
                        occasion you might be headed to!

                        All suits come from new born size to size 14. These boys suits can match back for family or
                        formal
                        events. Most all suits are lined and made with quality and detail. We do alterations on suits
                        and
                        tuxedos and can have the alteration done in approximately 10 days.</p>
                    <div class="product-thumbnails">
                        <img src="{% static 'images/Boyssuit1.jpg' %}" alt="">
                        <img src="{% static 'images/Boyssuit3-3.jpg' %}" alt="">
                        <img src="{% static 'images/Boyssuit4.jpg' %}" alt="">
                    </div>
                </div>
                <div class="product-images">
                    <img src="{% static 'images/Boyssuit1.jpg' %}" alt="">
                </div>
            </section>
            <section class="product" id='accessories'>
                <div class="product-description">
                    <h2 class="product-title">Accessories</h2>
                    <p>First communion accessories for boys and girls including communion jewellery, shoes, communion
                        gifts, rosaries, veils, missals, communion cards, gloves and more.</p>
                    <div class="product-thumbnails">
                        <img src="{% static 'images/accessory11-7.jpg' %}" alt="">
                        <img src="{% static 'images/accessory14.jpg' %}" alt="">
                        <img src="{% static 'images/accessory15.jpg' %}" alt="">
                    </div>
                </div>
                <div class="product-images">
                    <img src="{% static 'images/accessory.jpg' %}" alt="">
                </div>
            </section>
        </div>
        <!--Collection Section Ends-->

        

        
        

    </main>
</main>

{% endblock %}