{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A boutique shop in Barrie Ontario for wedding dresses, prom dresses, boys' tuxedoes and other formal wear items directly sourced from designers">
    <meta name="keywords" content="Barrie Ontario, wedding dresses, formal wear, formal dresses, flower girl dresses, first communion dresses">
    <link rel="icon" href="{% static 'images/kelytas_logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}{% endblock title %} | Kelytas</title>
    <style>
        .main-header{
            background-image: url("{% static 'images/banner-background.jpeg' %}");
            height: 80px;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <header class="main-header">
        <a href="https://www.google.com/maps/place/Barrie,+ON+L4M+4S4/@44.3887494,-79.8380184,12z/data=!3m1!4b1!4m5!3m4!1s0x882aa2b7f6268301:0x5471fee8f4c79611!8m2!3d44.3876689!4d-79.7792366" target="_blank" id="location-detail-link">
            <p>4880 HWY 50, Barrie, ON L4M4S4</p>
        </a>
        <img src="{% static 'images/kelytas_logo.png' %}" alt="" class="kelytas-logo" >
        <h1 class="masthead">Kelyta's Creations</h1>
        <p class="contact-detail"> <span>  <a href="tel:17057370055"> &#9742; (705) 737 0055</a></span> <span>  <a href="mailto:kelytacreations2@gmail.com">&#9993; kelytacreations2@gmail.com</a> </span></p>
    </header>
    <p class="hours"><span><strong>Tues - Thurs</strong>: 12pm - 6pm </span> <span> <strong>Friday</strong>: 12pm - 5pm </span> <span> <strong>Sat</strong>: 11:30am - 4pm</span> <span><strong>Sun/Mon</strong>: CLOSED</span> </p>
    <nav class="main-nav">
        <a href="{% url 'home_view' %}">Home</a>
        <a href="{% url 'about_view' %}">About Kayleen</a>
        <a href="{% url 'testimonials_view' %}">Testimonials</a>
        
    </nav>
<section id="main-content">
    {% block content %}
    {% endblock %}
</section>
    <footer>
       
        <p>4880 HWY 50, Barrie, ON L4M4S4</p>
        <p> <span>  <a href="tel:17057370055"> &#9742; (705) 737 0055</a></span> <span>  <a href="mailto:kelytacreations2@gmail.com">&#9993; kelytacreations2@gmail.com</a> </span></p>

	<h4>Shop Hours</h4>
        <p class="hours">
	<span><strong>Tues - Thurs</strong>: 12pm - 6pm </span> <span> <strong>Friday</strong>: 12pm - 5pm </span> <span> <strong>Sat</strong>: 11:30am - 4pm</span> <span><strong>Sun/Mon</strong>: CLOSED</span> </p>
        <p>&copy; Kelyta's Creations, 2006 - {% now 'Y' %}</p>
    </footer>

    <script src="{% static 'js/main.js' %}" ></script>
</body>
</html>
