{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{% static 'images/kelytas_logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}{% endblock title %} | Kelytas</title>
    <style>
        .main-header{
            background-image: url("{% static 'images/banner-background.jpeg' %}");
            height: 80px;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <header class="main-header">
        <a href="https://www.google.com/maps/place/2+Marsellus+Dr+%232,+Barrie,+ON+L4N+0Y4/@44.3387349,-79.7229834,17z/data=!3m1!4b1!4m5!3m4!1s0x882abd970ea27bff:0xd62b8083a56a5681!8m2!3d44.3387349!4d-79.7207947" target="_blank" id="location-detail-link">
        <p>2 Marsellus Dr, Unit2, Barrie, ON L4N0Y4</p>
    </a>
        <img src="{% static 'images/kelytas_logo.png' %}" alt="" class="kelytas-logo" >
        <h1 class="masthead">Kelyta's Creations</h1>
        <p class="contact-detail"> <span>  <a href="tel:17055033400"> &#9742; (705) 503 3400</a></span> <span>  <a href="mailto:kelytacreations2@gmail.com">&#9993; kelytacreations2@gmail.com</a> </span></p>
    </header>
    <p class="hours"><span><strong>Tues - Thurs</strong>: 12pm - 6pm </span> <span> <strong>Friday</strong>: 12pm - 5pm </span> <span> <strong>Sat</strong>: 11:30am - 4pm</span> <span><strong>Sun/Mon</strong>: CLOSED</span> </p>
    <nav class="main-nav">
        <a href="{% url 'home_view' %}">Home</a>
        <a href="{% url 'about_view' %}">About Kayleen</a>
        <a href="{% url 'testimonials_view' %}">Testimonials</a>
        
    </nav>
<section id="main-content">
    {% block content %}
    {% endblock %}
</section>
    <footer>
       
        <p>2 Marsellus Dr, Unit2, Barrie, ON L4N0Y4</p>
        <p> <span>  <a href="tel:17055033400"> &#9742; (705) 503 3400</a></span> <span>  <a href="mailto:kelytacreations2@gmail.com">&#9993; kelytacreations2@gmail.com</a> </span></p>
        <h4>Shop Hours</h4>
        <p class="hours"><span><strong>Tues - Thurs</strong>: 12pm - 6pm </span> <span> <strong>Friday</strong>: 12pm - 5pm </span> <span> <strong>Sat</strong>: 11:30am - 4pm</span> <span><strong>Sun/Mon</strong>: CLOSED</span> </p>
        <p>&copy; Kelyta's Creations, 2006 - {% now 'Y' %}</p>
    </footer>

    <script src="{% static 'js/main.js' %}" ></script>
</body>
</html>