{% extends 'mainlayout.html' %}
{% block title %} Testimonials {% endblock title %}
{% block content %}
<!--TESTIMONIALS Begin Below-->
<div id="testimonials">
    <h2 class="section-title">Testimonials</h2>
    <div class="testimonials">
        <section class="testimony">
            <p>"The owner of this store is amazing! After picking out my bridesmaid dresses a few days ago I
                wasn't
                entirely happy with the colour. I contacted the owner today and within an hour she had not only
                found a colour I love, she contacted her suppliers and found the exact dress in that colour!
                Now
                that is customer service! She takes the time to get to know what you want and is super
                friendly! I
                can't recommend her enough!"</p>
            <p>Jana Arthur - Barrie, ON</p>
        </section>
        <section class="testimony">
            <p>I wanted to take a moment to submit a review! I found my wedding dress at Kelyta's and not only
                was
                my dress incredible, but she and her daughter were amazing to work with! My bridesmaid, maid of
                honour and my baby (our ring bearer!) also found their dresses/ suits there! These ladies are
                phenomenal to deal with and made our experience so special and memorable! I would definitely
                recommend Kelyta's to anyone - you won't be disappointed! Thank you so much ladies!"</p>
            <p>Muskoka Porters - Muskoka, ON</p>
        </section>
        <section class="testimony">
            <p>"I wanted to thank Kelyta's Creation for the beautiful baptism gown she helped me pick out for
                my
                daughter. She has a great selection of accessories to complement the gown. I had to book an
                appointment after business hours due to my work schedule. Kelyta's was so flexible in
                ACCOMMODATING
                my scheduling."</p>
            <p>Jennifer - Huntsville, ON </p>
        </section>
        <section class="testimony">
            <p>"Kelyta's selection of prom and graduation gowns were amazing as they were an exciting new
                style.
                She helped my daughter select the perfect dress. She looked beautiful in her dress and
                photographs.
                I would highly recommend shopping at her store. I had an excellent experience."</p>
            <p>Laura - Maple, ON</p>
        </section>
        <section class="testimony">
            <p>"I had to plan my wedding on short notice. I found three perfect flower girl dresses at the
                store.
                Kelyta's provided me with great customer service. The dresses were well priced, the alterations
                to
                all three dresses were completed on the same day. It was great as I live far away."</p>
            <p>Carolyn - Sudbury, ON</p>
        </section>
        <section class="testimony">
            <p>"Kelyta's team helped us select the flower girl dresses which best suited our wedding party. Her
                staff was able to help me select beautiful dresses at a very reasonable price. Our flower girls
                looked so elegant on our big day."</p>
            <p>Alejandra - London, ON</p>
        </section>
        <section class="testimony">
            <p>"The Quinceañera celebration was planned very quickly. Kelyta's ordered my daughter's
                Quinceañera
                dress into the store. The dress fitting went very well with a few minor alternations, which
                were
                completed at the store. My daughter looked beautiful on her special day."</p>
            <p>Ruth - Bradford, ON</p>
        </section>
        <section class="testimony">
            <p>Kelyta's has an excellent selection of baptism gowns and apparel in Barrie. She provided me with
                great customer service. I was also able to have alterations done right on the spot to the
                baptism
                gown. I will becoming back for my next purchase!"</p>
            <p>Jill - Barrie, ON</p>
        </section>
        <section class="testimony">
            <p>"I wanted to thank Kelyta's Creation for the beautiful baptism gown she helped me pick out for
                my
                daughter. She has a great selection of accessories to complement the gown. I had to book an
                appointment after business hours due to my work schedule. Kelyta's was so flexible in
                ACCOMMODATING
                my scheduling."</p>
            <p>Jennifer - Huntsville, ON</p>
        </section>
        <section class="testimony">
            <p>"Kelyta's selection of prom and graduation gowns were amazing as they were an exciting new
                style.
                She helped my daughter select the perfect dress. She looked beautiful in her dress and
                photographs.
                I would highly recommend shopping at her store. I had an excellent experience."</p>
            <p>Laura - Maple, ON</p>
        </section>
        <section class="testimony">
            <p>"I had to plan my wedding on short notice. I found three perfect flower girl dresses at the
                store.
                Kelyta's provided me with great customer service. The dresses were well priced, the alterations
                to
                all three dresses were completed on the same day. It was great as I live far away."</p>
            <p>Carolyn - Sudbury, ON</p>
        </section>
        <section class="testimony">
            <p>"Kelyta's team helped us select the flower girl dresses which best suited our wedding party. Her
                staff was able to help me select beautiful dresses at a very reasonable price. Our flower girls
                looked so elegant on our big day."</p>
            <p>Alejandra - London, ON</p>
        </section>
        <section class="testimony">
            <p>"The Quinceañera celebration was planned very quickly. Kelyta's ordered my daughter's
                Quinceañera
                dress into the store. The dress fitting went very well with a few minor alternations, which
                were
                completed at the store. My daughter looked beautiful on her special day."</p>
            <p>Ruth - Bradford, ON</p>
        </section>
        <section class="testimony">
            <p>"I wanted to thank Kelyta's Creation for the beautiful baptism gown she helped me pick out for
                my
                daughter. She has a great selection of accessories to complement the gown. I had to book an
                appointment after business hours due to my work schedule. Kelyta's was so flexible in
                ACCOMMODATING
                my scheduling."</p>
            <p>Jennifer - Huntsville, ON </p>
        </section>
        <section class="testimony">
            <p>"I had to plan my wedding on short notice. I found three perfect flower girl dresses at the
                store.
                Kelyta's provided me with great customer service. The dresses were well priced, the alterations
                to
                all three dresses were completed on the same day. It was great as I live far away."</p>
            <p>Carolyn - Sudbury, ON</p>
        </section>
        <section class="testimony">
            <p>"Kelyta's selection of prom and graduation gowns were amazing as they were an exciting new
                style.
                She helped my daughter select the perfect dress. She looked beautiful in her dress and
                photographs.
                I would highly recommend shopping at her store. I had an excellent experience."</p>
            <p>Laura - Maple, ON</p>
        </section>
        <section class="testimony">
            <p>"Kelyta's team helped us select the flower girl dresses which best suited our wedding party. Her
                staff was able to help me select beautiful dresses at a very reasonable price. Our flower girls
                looked so elegant on our big day."</p>
            <p>Alejandra - London, ON</p>
        </section>
    </div>
</div>
<!--End of Testimonial Section-->
{% endblock %}